@model Fitorso.Viewmodels.AccountViewmodel
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>
<h3>Name: @Model.User.Firstname</h3>
<h3>Lastname: @Model.User.Lastname</h3>
<h3>Email: @Model.User.Email</h3>
<h3>Height: @Model.User.Height M</h3>
<h3>Membership type = @Model.MembershipTypes.SingleOrDefault(i => i.Id == Model.User.MembershipTypeId).Name</h3>
